
body {
    color: #333;
    font-size: 1.2em;
}
#layout {
    padding-left: 0;
    position: relative;
}
.content {
    line-height: 1.6em;
    margin: 0 auto 0px;
}
.header {
    border-bottom: 1px solid #eee;
    color: #222;
    margin: 0;
    padding: 2.5em 2em 0;
    text-align: center;
}
.header h1 {
    font-size: 3em;
    font-weight: 300;
    margin: 0.2em 0;
}
.header h2 {
    color: #222;
    font-weight: 300;
    margin-top: 0;
    padding: 0;
}

.header-links  {
    color: #ccc;
    margin-bottom: 0.5em;
}

.header-links a {
    color: #222;

}
.content-subhead {
    color: #222;
    font-weight: 300;
    margin: 25px 0 20px;
}
.portrait-img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 10%;
    border: 1px solid #eee;
}
.content-img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 2%;
    border: 1px solid #eee;
}

.highlight {
    border-bottom: 1px solid #eee;
}

#main {
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
}
@media (min-width: 48em) {
    .header, .content {
        padding-left: 2em;
        padding-right: 2em;
    }
    .content {
        max-width: 60%;
    }
}
@media (max-width: 48em) {
    .content, .header {
        padding-left: 0.1em;
        padding-right: 0.1em;
        max-width: 95%;
        
    }
}
