footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#profile {
    text-align: center;
    padding: 30px 10px;
    position: relative;
}

#profile .portrait {
    background-image: url('http://hckmd.com/me.jpeg');
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
}

#profile ul.network-icon {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

#profile .portrait-title h2 {

    font-size: 1.75em;
    font-weight: 300;
    color: #000000;
    margin: 20px 0 10px 0;
}

#profile .portrait-title h3 {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0,0,0, 0.54);
    margin: 0px 0 10px 0;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
}

.showcase h2 {
    margin-top: 5px;
}

.big-icon {
    font-size: 2rem;
    margin: 0 0.1em;
    color: black;
}

.researcher-name {
    text-transform: none;
    font-size: 1.5rem;
}

ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul.ul-edu {
    list-style: none;
}

ul.ul-edu li .description p.course {
    font-size: 0.95rem;
}

ul.ul-edu li .description p.dates {
    font-size: 0.8rem;
    color: rgba(0,0,0,0.8);
}

ul.ul-edu li .description p.institution {
    font-size: 0.75rem;
    color: rgba(0,0,0,0.6);
}

ul.ul-edu li .description p {
    margin: 0;
}

.highlight-img {
    margin: 1rem;
}

@media (max-width: 600px) {
    .highlight-img {
        margin: 0px;
    }
}

.list-img {
    margin: 20px;
    border-radius: calc(0.25rem - 1px);
}

@media (max-width: 600px) {
    .list-img {
        margin: 0px;
    }
}

#main {
    margin-top: 50px;
}

.context-text {
    font-size: 1.05rem;
    color: rgba(0,0,0,0.8);
}

.media-icon, .project-icon, .publication-icon, .resource-icon, .menu-icon {
    margin: 5px;
}

.project-summary {
    padding: 2rem;
}

.project-description h2 {
    margin-bottom: 20px;
}

.pub-abstract h5 {
    margin-top: 4rem;
}

.publication-details p {
    margin-bottom: 2px;
}

.publication-authors {
    font-size: 1.15rem;
}

.publication-dates {
    color: rgba(0, 0, 0, 0.7)
}

.list-item-buttons {
    margin: 2rem 0rem;
}

.list-item-buttons a {
    margin-left: 0.5rem;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
    display: none;
  }
  [data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
  }

@media (max-width: 600px) {
    .list-item-buttons a {
        margin-bottom: 1rem;
    }
}

a.site-page-link {
    color: #29537c;
}

.profile-heading {
    margin-bottom: 0.75rem;
}

.menu-item-link {
    font-weight: 500;
}