<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% if page.title %}{{ page.title }} | {% endif %}Dr Dan H</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ site.baseurl | append: '/css/bootstrap.min.css' }}" rel="stylesheet">
  <link href="{{ site.baseurl | append: '/css/font-awesome.min.css' }}" rel="stylesheet" />
  <link href="{{ site.baseurl | append: '/css/academicons.min.css' }}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{{ site.baseurl | append: '/css/site.css' }}" rel="stylesheet">
</head>