<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% if page.title %}{{ page.title }} | {% endif %}Daniel Hickmott</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet" />
  <link href="{{ site.baseurl }}/css/academicons.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{{ site.baseurl }}/css/site.css" rel="stylesheet">
</head>