<div class="header">
  <h1>Daniel Hickmott</h1>
  <h2>PhD Candidate and Research Assistant from Newcastle, Australia</h2>
  <div class="header-links">
    <a href="/">About</a> |
    <a href="https://www.newcastle.edu.au/profile/daniel-hickmott-uon">Research Profile</a> |
    <a href="https://scholar.google.com.au/citations?user=zEcey6gAAAAJ">Publications</a> |
    <a href="/tutoring">Tutoring</a> |
    <a href="mailto:daniel.hickmott@gmail.com"><i class="fab fa-twitter"></i></a>
    <a href="http://hickyau.blogspot.com.au/"><i class="far fa-newspaper"></i></a>
    <a href="https://twitter.com/dan_hickmott"><i class="far fa-envelope"></i></a>
  </div>
</div>