<div id="focus-popup" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content text-center">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <figure id="photo-popup-figure">
            <img id="photo-popup-img" src="#" class="img-fluid" alt="">
            <figcaption id="photo-popup-caption" class="figure-caption"></figcaption>
          </figure>
          <div id="video-popup-container" class="ratio ratio-16x9">
            <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
            <span id="video-popup-caption" class="figure-caption"></span>
          </div>   
        </div>
      </div>
    </div>
  </div>