<script src="{{ site.baseurl | append: '/js/jquery.min.js' }}"></script>
<script src="{{ site.baseurl | append: '/js/popper.js' }}"></script>
<script src="{{ site.baseurl | append: '/js/bootstrap.min.js' }}"></script>

<script>
    let mybutton = document.getElementById("btn-back-to-top");

    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (
            document.body.scrollTop > 100 ||
            document.documentElement.scrollTop > 100
        ) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    if (mybutton) {
        mybutton.addEventListener("click", backToTop);
    }

    function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        // Move focus to top
        let main = document.querySelector('main');
        if (main) {
            main.focus();
        }
    }
</script>